.player {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  text-align: center;

  &-hand {
    height: 40px;
    margin: 10px 4px 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .card-wrapper {
      height: 100%;
      width: 10px;
      min-width: 0;
      overflow: visible;

      &:last-child {
        width: auto;
        min-width: auto;
      }
    }

    .card {
      height: 100%;
      width: auto;
    }
  }
}