.player {
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: visible;
  max-width: 100px;

  &-hand {
    height: 40px;
    max-width: 100px;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .card-wrapper {
      height: 100%;
      width: 10px;
      min-width: 0;
      overflow: visible;

      &:last-child {
        width: auto;
        min-width: auto;
      }
    }

    .card {
      height: 100%;
      width: auto;
    }
  }

  &-name {
    text-align: center;
    font-weight: bold;
    max-height: 120px;
    overflow: hidden;
    line-height: 1.1;

    &.large {
      font-size: 56px;
    }
  }
}