@import './variables';

.no-players {
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 300px;
  text-align: center;
  background-color: rgba(black, 0.4);
  padding: 10px;
  border-radius: 5px;

  &-heading {
    font-size: 20px;
    margin-bottom: 8px;
  }

  &-subheading {
    font-size: 12px;
    margin-bottom: 3px;
  }

  &-link-wrapper {
    font-size: 12px;
    color: lighten($blue, 0.8);

    svg {
      margin-left: 3px;
      cursor: pointer;
    }
  }

  &-link {
    display: inline-block;
    text-decoration: underline;
  }
}