@import "./variables.scss";

.stacks {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18vh;
  max-width: 125px;
  z-index: 200;
}

.up-stack, .down-stack {
  display: block;
  position: relative;
  line-height: 0;

  .number {
    position: absolute;
    // text-shadow: 0 0 2px black;
    font-weight: bold;
    user-select: none;
    line-height: 1em;
    font-size: 10px;
    bottom: 0;
    left: 100%;
    padding-left: 4px;
  }

  .direction {
    position: absolute;
    text-shadow: 0 0 2px black;
    font-weight: bold;
    user-select: none;
    line-height: 1em;
    font-size: 14px;
    bottom: 0;
    right: 100%;
    padding: 0 6px;
    transition: transform .5s;

    &.ccw {
      transform: rotateY(180deg);
    }
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.up-stack {
  width: 100%;
  padding-top: 66.6666666666%;
  position: relative;

  .card {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    width: 66.666666666%;
    height: 150%;
    top: 0;
    left: 100%;
  }

  &.highlight .card {
    box-shadow: 0 0 5px 5px $yellow;
  }
}

.down-stack {
  width: 80%;
  padding-top: 120%;
  margin-bottom: 10px;
}

.place-card-enter {
  opacity: 0;
  z-index: 1;
}

.place-card-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.place-card-leave {
  z-index: -1;
}