@import './variables';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  color: $white;
  width: 100%;
  height: 100%;
}

input, button {
  background-color: $white;
  border-radius: 6px;
  outline: none;
  padding: 5px;
  margin: 5px;
}

input:not([type="checkbox"]) {
  flex-grow: 1;
}

input {
  border: none;
  box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.4);
}

button {
  display: block;
  font-size: inherit;
  font-weight: bold;
  background-color: #CCC;
  border: none;
  cursor: pointer;

  &:active {
    background-color: darken(#CCC, 10);
  }

  &.primary {
    background-color: $red;
    color: white;

    &:active {
      background-color: darken($red, 10);
    }
  }
}

#root {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ed1c24;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  background-size: 150px;
  width: 100%;
  height: 100%;
}

.homepage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 10vh;

  &-title {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $red;
    -webkit-text-stroke: 2px white;
  }

  &-go-btn {
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 0;
  }

  &-navigator {
    .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .label {
      font-size: 10px;
      margin-bottom: 3px;
    }

    .newroom {
      font-size: 10px;
      margin-top: 15px;

      button {
        flex-grow: 1;
      }
    }

    input, button {
      margin: 0;
    }

    input {
      margin-right: 5px;
    }
  }
}

.uno-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .table {
    position: relative;
    flex-grow: 1;
    z-index: 1;
  }

  .hand {
    position: relative;
    flex: 0 0 auto;
  }
}

.banner {
  min-height: 45px;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding: 10px;
  color: $white;
  background-color: $red;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 45px;
  transition: padding .5s;

  &:empty {
    display: none;
  }

  .menu-container.open + & {
    padding-left: 295px;
  }
}