@import './variables';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  color: $white;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.uno-game {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ed1c24;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  background-size: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .table {
    position: relative;
    flex-grow: 1;
  }

  .hand {
    position: relative;
    flex: 0 0 auto;
  }
}

.banner {
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  color: $white;
  background-color: $red;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 45px;
  transition: padding .5s;

  &:empty {
    display: none;
  }

  .menu-container.open + & {
    padding-left: 295px;
  }
}