@import './variables';

html, body {
  padding: 0;
  margin: 0;
  color: #333;
}

.uno-game {
  font-family: Helvetica, Arial, sans-serif;
}

.banner {
  padding: 5px 10px;
  color: $white;
  font-weight: bold;
  background-color: $red;

  &:empty {
    display: none;
  }
}

.up-stack, .down-stack {
  display: inline-block;
  position: relative;
  margin: 10px;
  line-height: 0;

  .number {
    // position: absolute;
    // color: white;
    // text-shadow: 0 0 2px black;
    top: 100%;
    left: 0;
    font-weight: bold;
    user-select: none;
    border-radius: .7em;
    padding: 4px;
    line-height: 1.2em;
    font-size: 14px;
    // text-align: center;
  }

  .card {
    height: 150px;
  }
}